{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css', 100) %}
        {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 99) %}
        {% do assets.addCss('theme://css/custom.css', 98) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {# {% do assets.addJs('jquery', 100) %} #}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">

{% block header %}
<div class="container">
	<nav class="navbar">
		<div class="navbar-brand">
			<a id="logo" class="navbar-item" href="{{ base_url == '' ? '/' : base_url }}">
				{# <i class="fa fa-rebel"></i> #}
				{{ config.site.title }}
			</a>
			
			<div class="navbar-burger burger" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
				<span></span><span></span><span></span>
			</div>
		</div>
		{% block header_navigation %}
		<div class="navbar-menu">
			<div class="navbar-end">
				{% include 'partials/navigation.html.twig' %}
			</div>
		</div>
		{% endblock %}
	</nav>
</div>
{% endblock %}

{% block body %}
    <section class="main">
        {% block content %}{% endblock %}
    </section>
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container has-text-centered">
            <p>Creat amb la potència de <a href="http://getgrav.org">Grav</a> i <a href="http://bulma.io/">Bulma</a>.</p>
            <p>Col·labora a <a href="https://github.com/hermes-diactoros/cripto.cat.grav">GitHub</a>!</p><br>
            <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.ca"><img alt="Llicència de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a></p>
        </div>
    </footer>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
